body{
	margin: 0;
	padding: 20px;
	color: #666;
	font-size: 48px;
	font-family: "Avenir Next";
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p{
	margin: 0 20px;
}

.draggable{
	color: #333;
	font-weight: 600;
	display: inline-block;
	border-bottom: 1px dashed;
	cursor: ew-resize;
	line-height: 1.2;
}

/*
 * Select
 */
.select {
	position: relative;
	display: inline-block;
	color: #333;
}
.select select {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0 20px 0 0;
	color: #333;
	background-color: transparent;
	border: 0;
	border-bottom: 1px dashed;
	border-radius: 0;
	cursor: pointer;
	line-height: 1.2;
	outline: 0;
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select:after {
	position: absolute;
	top: 50%;
	right: 0;
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	pointer-events: none;
	border-top: 7px solid;
	border-right: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid transparent;
}
/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/
/* Focus */
// .select select:focus {
// 	box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
// }
/* Active/open */
.select select:active {
	color: #fff;
	background-color: #0074d9;
}
/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
	display: none;
}
/* Media query to target Firefox only */
@-moz-document url-prefix() {
	/* Firefox hack to hide the arrow */
	.select select {
		text-indent: 0.01px;
		text-overflow: '';
		padding-right: 1rem;
	}
	/* <option> elements inherit styles from <select>, so reset them. */
	.select option {
		background-color: white;
	}
}
/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
	.select select {
		z-index: 1;
		padding: .5rem 1.5rem .5rem 1rem;
	}
	.select:after {
		z-index: 5;
	}
	.select:before {
		position: absolute;
		top: 0;
		right: 1rem;
		bottom: 0;
		z-index: 2;
		content: "";
		display: block;
		width: 1.5rem;
		background-color: #eee;
	}
	.select select:hover,
	.select select:focus,
	.select select:active {
		color: #555;
		background-color: #eee;
	}
}

dl {
	margin: 0;
	width: 100%;
	dt,dd {
		float: left;
		margin: 0;
		padding: 0 10px;
		width: 50%;
	}
	dt {
		text-align: right;
	}
}
